<section id="main" class="container">
    <div class="main-div">
        <div class="title-img">
            <%= image_tag("fireBall.svg", :class => "d-none d-lg-block")%>
            <h2>Hang time</h2>
        </div>

        <div class="main-text">
            <h3>Ranqueando, para voce, os melhores jogadores da NBA </h3>
            <a><button>Saiba mais</button></a>
        </div>
       
    </div>
    <div id="icon-scroll"></div>
</section>