/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Place all the styles related to the LandingPage controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: https://sass-lang.com/
 
 /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 // terminado o reset css
 
 :root{
     --primary: #E47041;
     --constrast-dark-light: #161616;
     --dark-light: #fafafa;
     --secondary: #fafafa;
     --terciary: #B54213
     --orange1: #B54213;
     --orange2: #E47041;
     --orange3: #EF7F4D;
     --white: #fafafa;
     --black: #161616;
     --navbar: 101px;
     }

    [data-theme="dark"]{
        --dark-light: #161616;
        --constrast-dark-light: #fafafa
    }
 
 body{
     background: cover;
    background: #807979; /* Old browsers */
   background: -moz-linear-gradient(left,  var(--primary) 0%, var(--primary) 30%, var(--constrast-dark-light) 30%, var(--constrast-dark-light) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,var(--primary)), color-stop(30%,var(--primary)), color-stop(30%,var(--constrast-dark-light)), color-stop(100%,var(--constrast-dark-light))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  var(--primary) 0%,var(--primary) 30%,var(--constrast-dark-light) 30%,var(--constrast-dark-light) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  var(--primary) 0%,var(--primary) 30%,var(--constrast-dark-light) 30%,var(--constrast-dark-light) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  var(--primary) 0%,var(--primary) 30%,var(--constrast-dark-light) 30%,var(--constrast-dark-light) 100%); /* IE10+ */
   background: linear-gradient(to right,  var(--primary) 0%,var(--primary) 30%,var(--constrast-dark-light) 30%,var(--constrast-dark-light) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary)', endColorstr='var(--constrast-dark-light)',GradientType=1 ); /* IE6-9 */

 }

 

 @font-face {
     font-family: 'Basketball';
     src: font-url('Basketball.otf');
     font-weight: normal;
     font-style: normal;
 }

 @font-face{
     font-family: 'Roboto';
     src: font-url('Roboto-Regular.ttf');
 }

 @font-face{
     font-family: 'Logo';
     src: font-url('icomoon.ttf')
 }

 h2{
     font-family: Basketball !important ;
 }

#player h2{
  color: var(--dark-light);
  font-size: 80px;

}

#player .player-name h2:last-child{
  float: right;
}



#player .player-number{
  color: var(--primary);
  text-shadow: 6px 6px 0px var(--dark-light);
  font-family: Basketball;
  font-size: 50vh;
  margin-left: 10px;
}

#player .player-name{
  text-shadow: 4px 4px 0px var(--constrast-dark-light);
}

.team-text{
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.team-text p{
  color: var(--dark-light);
  font-family: Roboto;
  text-align: justify;
  font-size: 26px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 10px solid var(--primary);
  width: 50%;
}

.team-text img:first-child{
  width: 200px;
  margin-right: 10px;
  -webkit-filter: drop-shadow( -4px 4px 0px var(--dark-light));
  filter: drop-shadow( -4px 4px 0px var(--dark-light));
  
}

.player-main img{
  height: 110px;
  width: auto;
  -webkit-filter: drop-shadow( -4px 4px 0px var(--dark-light));
  filter: drop-shadow( -4px 4px 0px var(--dark-light));
}

.player-main{
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

#player .player-photo{
  position: relative;
  left: 40%;
}

#team {
  height: calc(100vh - var(--navbar));
  align-items: center;
}

.team-name{
  color: var(--primary);
  font-size: 130px;
  text-shadow: 6px 6px 0px var(--dark-light);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  float: right;
  height: 22vh;

}

.team-photo {
  -webkit-filter: drop-shadow( -4px 4px 0px var(--dark-light));
  filter: drop-shadow( -4px 4px 0px var(--dark-light));
}

#team-players {
  width: 100vw !important;
}

.card img{
  height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.card h2{
  text-shadow: 1px 1px 0px var(--dark-light) !important;
  font-size: 40px !important
}

.card h3{
  margin-bottom: 5px;
}

#team-players h2{
  font-size: 100px;
  text-align: center;
  color: var(--primary);
  text-shadow: 3px 3px 0px var(--dark-light)
}

#team-players .card{
  background-color: var(--constrast-dark-light);
  border: none;
  border-right: 4px solid var(--primary);
  border-bottom: 4px solid var(--primary);

}

#team-players .card h3{
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  color: var(--dark-light);
}

#team-players .card p{
  font-family: Roboto;
  font-size: 16px;
  color: var(--dark-light);
}

#team-players .row{
}

.row p{
  font-family: Roboto;
}

.col-7 div{
  display: flex; align-items: center; justify-content: center
}
.col-7 .name-position{
  justify-content: flex-start !important
}

.team-player-stats{
  display: flex; align-items: center; justify-content: center
}

a:hover{
  text-decoration: none;
  
}
.links-nav{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
 nav h2 {
     font-size: 85px;
     color: var(--white);
 }


 nav a{
    font-family: Roboto;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--dark-light);
    transition: 0.3s;
    letter-spacing: -3px;
 }

 em{
    color: var(--dark-light);
}

 nav a:hover{
     color: var(--primary);
     transition: 0.3s;
 }

 .icon-group{
    font-family: Logo;
    color: var(--white);
    font-size: 62px;
    margin-top: 9px
 }

 .icon-group:before {

    content: "\e900";
  }

nav ul{
    margin-right: 15px;
}

  .link-logo:hover{
    color: none !important;
    transition: 0s;
  }

#team .container{
  height: calc(100vh - var(--navbar));
}

#main{
  height: calc(100vh - var(--navbar) - 100px);
  display: table;
}

.main-div{
  height: calc(100vh - var(--navbar) - 100px);
    display: table-cell;
    width: 100vw;
    vertical-align: middle;
}

.main-div h2{
  font-size: 130px;
  text-align: end;
  color: var(--primary);
  text-shadow: 6px 6px 0px var(--dark-light);
  margin-left: 10px;
}

.main-div h3{
  font-size: 50px;
    color: var(--dark-light);
    font-family: Basketball;
    padding-left: 20px;
    border-left: 6px solid var(--constrast-dark-light);
}

.main-div .main-text{
  width: 50%;
  padding-top: 25vh;
}

.title-img img{
  height: 120px;
}

.title-img{
  display: inline-flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
}

#main button{
  padding: 13px;
    font-size: 26px;
    text-decoration: none;
    border-radius: 10px;
    background: var(--primary);
    color: var(--constrast-dark-light);
    margin-top: 20px;
    border: 3px solid var(--constrast-dark-light);
    font-family: Roboto;
    cursor: pointer;
    text-align: left;
    transition: 0.3s;
    margin-left: 25px;
}

#main button:hover{
  background: var(--constrast-dark-light);
  color: var(--primary);
  border: 3px solid var(--primary);
  transition: 0.3s;
}

#player{
  height: calc(100vh - var(--navbar));
}
  
.team-text{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  
}

.player-main-sm{
  display: none;
}
  @media only screen and (max-width: 720px){
    .team-name{
      margin-top: 10px;
      font-size: 90px;
      float: none;
      text-align: center;
      height: 8vh;

    }

    #team-players h2{
      font-size: 70px;
    }

    .team-text{
      width: 100%;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
    }

    .team-text img{
      display: block;
      margin: 0 auto !important;
      margin-bottom: 40px !important;
      padding-top: 10px;
      
    }
  }

  @media only screen and (max-width: 620px){

    #player h2{
      font-size: 45px;
    }

    .player-main{
      display: none;
    }

    .player-main-sm{
      display: unset;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
    }

    .player-main-sm .player-name{
      width: 100%;
      display: inline-flex;
      justify-content: center;
    }

    #player .player-photo{
      position: unset; 
      height: 81px;
    }



    #player .player-number{
      font-size: 180px;
      margin-left: 0px;
      margin-right: 20px;
      text-align: end;
    }

    :root {
      --navbar: 147px;
    }

    body{
        background: var(--constrast-dark-light);
    }

    nav{
        background: var(--primary);
    }

    [data-theme="dark"]{
        --dark-light: #161616;
        --constrast-dark-light: #fafafa;
    }

    input:checked + .slider {
        background-color: var(--constrast-dark-light) !important;
        
      }
    .slider:before{
        background-color: var(--primary) !important;
    }

    nav a{
        color: var(--white) !important;
        transition: 0.3s;
        letter-spacing: -3px;
        font-size: 20px;
     }

     .links-nav{
         width: 100% !important;
         justify-content: center !important;
     }

     .link-logo{
         margin: 0 auto;
         display: block;
     }

     .team-name{
      font-size: 70px;
      float: none;
      text-align: center;
      margin-bottom: 0px;
      text-shadow: 2px 2px 1px var(--dark-light)

    }

    #team-players h2{
      font-size: 50px;
      text-shadow: 1px 1px 1px var(--dark-light)
    }

    .team-text p{
      width: 90%;
      font-size: 20px;
    }

    .team-text{
      display: block;
    }

    .main-text h3{
      border-left: 6px solid var(--dark-light);
    }

    .main-div h2{
      font-size: 85px;
      margin-left: 0px;
    }

    .main-div h3{
      font-size: 35px;
    }

    #main button{
      font-size: 20px;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 420px){
    .team-name{
      font-size: 50px;
      float: none;
      text-align: center;
      margin-bottom: 0px;
      text-shadow: 1px 1px 1px var(--dark-light)

    }

    #team-players h2{
      font-size: 50px;
    }
    
    .title-img{
      justify-content: center;
    }

    .main-div .main-text{
      width: 100%;
    }

    #main button{
      font-size: 20px;
    }

    .main-div h2 {
      font-size: 72px;
    }

  }

  @media only screen and (max-height: 700px){
    #team{
      height: unset;
    }
  }

  @media only screen and (max-height: 850px){
    .main-div .main-text{
      padding-top: 10vh;
    }
  }


#icon-scroll,
#icon-scroll:before {
    position: absolute;
    left: 50%
}
#icon-scroll {
    width: 30px !important;
    height: 50px !important;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid var(--primary);
    pointer-events: none;
    border-radius: 25px;

}

#icon-scroll:before {
    content: '';
    width: 4px !important;
    height: 8px !important;
    background: var(--primary);
    margin-left: -4px;
    top: 8px;
    left: 15px;
    border-radius: 4px;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    animation-timing-function: cubic-bezier(0.65, 0, 0, 1.01);
    
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

@media only screen and (max-width: 1024px){
    @keyframes scrollphone {
        0% {
          transform: translateY(20px);
          opacity: 1;
        }
        10% {
          opacity: 1;
        }
        100% {
          transform: translateY(5px);
          opacity: 0;
        }
      }
      #icon-scroll {
        width: 3px !important;
        padding: 6px 12px !important; 
        height: 35px;
        border: 2px solid var(--primary) !important;
        border-radius: 5px;
        opacity:.7;
      }
      #icon-scroll:before {
        left: 15px;
        content: "";
        width: 2px !important;
        height: 2px;
        border-radius: 50%;
        background-color: var(--primary);
        animation-name: scrollphone;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.65, 0, 0, 1.01);
        animation-iteration-count: infinite;
      }

}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}